@use './base' as *;

//////////////////////////////////// 
/// HEADER
////////////////////////////////////
.logo {
    height: 3.25rem;
    margin: 0 2rem;
}

//////////////////////////////////// 
/// SEARCH
////////////////////////////////////

.search {
    width: 40%;
    text-align: center;

    &__input {
        border: none;
        border-radius: 1.8rem;
        padding: .6rem 4rem;
        background-color: var(--color-grey-light-2);
        width: 90%;
        color: var(--color-grey-dark-2);
        font-family: inherit;
        font-size: inherit;
        margin-right: -3.5rem;
        transition: width .2s;

        &:focus {
            outline: none;
            width: 100%;
        }

        &::placeholder {
            color: var(--color-grey-light-4);
        }

        &-datalistbox {
            width: 100%;
        }
    }

    &__btn {
        border: none;
        background-color: var(--color-grey-light-2);

        &-img {
            height: 1.6rem;
            width: 1.6rem;
            fill: var(--color-grey-dark-3);
        }
    }
}

//////////////////////////////////// 
/// USER NAV
////////////////////////////////////

.user-nav {
    display: flex;
    height: 100%;

    > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        padding: 0 2.5rem;

        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon {
        height: 1.9rem;
        width: 1.9rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        height: 1.75rem;
        width: 1.75rem;
        font-size: .8rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__profile {
        padding: 0 2rem;
        height: 100%;

        display: flex;
        align-items: center;

        &-img {
            height: 3.75rem;
            border-radius: 50%;
        }

        &-name {
            margin-left: 1rem;
            color: var(--color-grey-dark-2);
        }
    }
}

////////////////////////////////////
/// SIDE-NAV
////////////////////////////////////

.side-nav {
    color: var(--color-grey-light-1);
    
    &__link {
        text-decoration: none;
        color: currentColor;
        position: relative;
        padding: 1.5rem 0 1.5rem 3.5rem;

        display: flex;
        align-items: center;
        
        &--active {
            background-color: var(--color-primary);
        }

        > * {
            z-index: 10;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
        
        &::before {
            content: "";
            background-color: var(--color-primary-dark);
            position: absolute;
            left: 0;
            top: 0;
            width: 5px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: center;

            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
        }

        &:hover::before {
            transform: scaleY(1);
            width: 100%;
        }
    }
    
    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: currentColor;
        margin: 0 2rem 0 0;
    }
}

.copyright {
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    text-align: center;
    padding: 0 2rem;
    position: absolute;
    bottom: 3rem;

    a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}


////////////////////////////////////
/// GALLERY
////////////////////////////////////

.gallery {
    display: flex;

    &__img {
        width: 33.333333%;
        object-fit: cover;
    }
}

////////////////////////////////////
/// OVERVIEW
////////////////////////////////////

.overview {

    background-color: white;
    border-bottom: var(--line);

    display: flex;
    align-items: center;

    &__name {
        font-size: 2.3rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        text-align: center; //when its width changes to 100%
    }

    &__star-rating {
        display: flex;
        justify-content: center;
        margin-right: auto;
    }

    &__star {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--color-primary);
    }

    &__location {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;

        &-icon {
            fill: var(--color-primary);
            height: 1.5rem;
            width: 1.5rem;
            margin-right: .5rem;
        }
    }

    &__voting {
        align-self: stretch;
        background-color: var(--color-primary);
        color: #fff;
        padding: 0 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1;
    }

    &__votes {
        font-size: 1rem;
    }
}

////////////////////////////////////
/// BUTTON
////////////////////////////////////

.btn-inline {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.2rem;
    border-bottom: 1px solid currentColor;
    transition: color .2s;

    &:focus {
        animation: pulsate 1s ease-in-out infinite;
    }

    &:hover {
        color: var(--color-grey-dark-1);
    }
}

////////////////////////////////////
/// ANIMATION
////////////////////////////////////
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    }

    100% {
        transform: scaleX(1);
        box-shadow: none;
    }
}

////////////////////////////////////
/// DETAILS
////////////////////////////////////
.details {
    padding: 4.5rem;
    border-bottom: var(--line);
    
    display: flex;
}

////////////////////////////////////
/// DESCRIPTION
////////////////////////////////////
.description {
    flex: 0 0 60%;
    background-color: #fff;
    padding: 3rem 3rem 5rem 3rem;
    box-shadow: var(--shadow-light);
    margin-right: 4.5rem;

    &__text:not(:last-of-type) {
        margin-bottom: 2rem;
    }

}

////////////////////////////////////
/// FEATURES
////////////////////////////////////
.features {
    padding: 3rem 0;
    margin: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    row-gap: .8rem;

    &__item {
        width: 50%;

        &::before {
            content: "";
            display: inline-block;
            margin-right: .5rem;
            height: 1rem;
            width: 1rem;
            
            //older browsers
            background-image: url('../img/chevron-thin-right.svg');
            background-size: cover;

            //latest broswers
            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                background-image: none;
                background-color: var(--color-primary);
                mask-image: url('../img/chevron-thin-right.svg');
                -webkit-mask-image: url('../img/chevron-thin-right.svg');
                mask-size: cover;
                -webkit-mask-size: cover;
            }
        }
    }
}

////////////////////////////////////
/// RECOMMENDATION
////////////////////////////////////
.recommendation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__text {
        display: inline-block;
        font-size: 1.2rem;
        color: var(--color-grey-dark-3);
    }

    &__icon-box {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__icon {
        display: block; // to tackle inline spacing
        box-sizing: content-box;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: .3rem solid #fff;

        &:not(:last-child) {
            margin-right: -2rem;
        }
        
    }
}

////////////////////////////////////
/// REVIEWS
////////////////////////////////////
.review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    
    &__text {
        margin-bottom: 2rem;
        position: relative;
        z-index: 10;
    }
    
    &__info {
        display: flex;
        align-items: center;
    }
    
    &__user-img {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        object-fit: cover;
    }
    
    &__user-info {
        margin: 0 auto 0 2rem;
    }
    
    &__user-name {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: .3rem;
    }
    
    &__time {
        font-size: 1rem;
        font-weight: 300;
    }
    
    &__average {
        color: var(--color-primary);
        font-size: 2.3rem;
        font-weight: 300;
    }

    &__btn {
        font-size: 1.3rem;

        span {
            font-size: 2rem;
            transition: margin .2s;
        }

        &:hover span {
            margin-left: 1.5rem;
        }
    }
    
    &::before {
        content: '\201C';
        font-family: sans-serif;
        font-size: 20rem;
        color: var(--color-grey-light-3);
        position: absolute;
        line-height: 1;
        top: -2.75rem;
        left: -1rem;
    }
}

////////////////////////////////////
/// CTA
////////////////////////////////////
.cta {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: #fff;

    &__text {
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }

    &__btn {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        height: 5.5rem;
        width: 23.5rem;
        border-radius: 30px;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        position: relative;
        overflow: hidden;

        &::before {
            content: "ONLY 4 ROOMS LEFT!";
            // color: black;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-5rem);
            transition: transform .2s;
        }

        &::after {
            content: "BOOK NOW";
            // color: black;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(1.6rem);
            transition: transform .2s;
        }

        &:hover {
            background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));

            &::before {
                transform: translateY(1.6rem);
            }
            &::after {
                transform: translateY(5rem);
            }
        }

        &:focus {
            animation: pulsate 1s ease-in-out infinite;
        }
    }
}

////////////////////////////////////
/// MEDIA QUERY
////////////////////////////////////

@media only screen and (max-width: $breakpoint-mid) {
    .side-nav {
        display: flex;

        &__link {
            flex: 0 0 25%;
            padding: 1.5rem 0;
            justify-content: center;

            span {
                font-size: 1.3rem;
            }
            
            &:nth-child(n) { // to cascade with correct specificity
                margin-bottom: 0;
            }
        }

        &__icon {
            height: 1.35rem;
            width: 1.35rem;
        }
    }

    .details {
        padding: 3rem;
    }

    .description {
        padding: 2.5rem 2.5rem 4rem 2.5rem;
        margin-right: 3rem;
    }
    
}

@media only screen and (max-width: $breakpoint-small) {
    .logo {
        margin: 0 0 0 1rem;
    }

    //moving the search field to bottom of header
    .search {
        order: 1;
        width: 100%;
        background-color: var(--color-grey-light-2);

        &__input {
            margin-left: -3.5rem;
        }
    }
    .user-nav {
        height: 7rem;
    }
    
    .side-nav {
        &__link {
            flex-direction: column;
        }

        &__icon {
            margin: 0 0 .5rem 0;
        }
    }

    .details {
        flex-direction: column;
    }
    
    .overview {
        &__name {
            padding: 1.3rem;
            font-size: 2rem;
            letter-spacing: none;
        }
    }

    .description {
        margin: 0 0 3.5rem 0;
    }
}

@media only screen and (max-width: $breakpoint-smallest) {
    .overview {
        flex-wrap: wrap;

        > * {
            margin: 0;
            width: 100%;
            padding: 1.5rem 0;
        }
    }

    .features {
        &__item {
            width: 100%;
        }
    }
}